# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://vfcuueobbspbrnrykdvn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmY3V1ZW9iYnNwYnJucnlrZHZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njc1Njg3NjIsImV4cCI6MjA4MzE0NDc2Mn0.ZWy6mPIj-NMp5gB3SMZu-mULD8bdHCT4kHzEyOmZPpk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZmY3V1ZW9iYnNwYnJucnlrZHZuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzU2ODc2MiwiZXhwIjoyMDgzMTQ0NzYyfQ.W1NSiVbrO2L-YvVibZIzUC8j8o4bMwttZcrx9ymEtcI

# Paystack Configuration
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=your-paystack-public-key
PAYSTACK_SECRET_KEY=your-paystack-secret-key

# Admin Configuration
ADMIN_SECRET=your-admin-secret-key
NEXT_PUBLIC_SITE_URL=http://localhost:3000
